<h5 style="margin-top: 25px;text-align: left;font-size: 14px;"><%- code %> - <%- description %></h5>
<div style="height: 50px;width: 100%;padding: 5px;border-bottom: 1px solid black;">
    <div class="row" style="height: 15px;">
        <div class="col-sm-6 text-left" style="margin-top: auto;">
            <span style="font-size: 12px;">FECHA DE INICIO: <%- period.toString().slice(4,6) %>/<%-
                        period.toString().slice(0,4) %></span>
        </div>
    </div>
</div>